<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BIENVENIDO AL CHAT</h1>
    <h3 id="name"></h3>
    <form id="chat_form">
        <input type="text" name="message" id="message">
        <input type="submit" value="SEND">
    </form>
     <h1>Chat Messages</h1>
    <div id="chat">
    </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatIndex.js"></script>
</body>
</html>