<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h2>All Products</h2>
  <ul>
    {{#each products}}

      <li>
        Product: {{title}} - Description: {{description}} - Price: ${{price}}
      </li>
    {{/each}}
  </ul>

</body>
</html>