<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Document</title>
  </head>
  <body>
    {{! 
    <form action="/api/login" method="post" id="loginForm"> }}
    <div class="login_container">
      <form action="/api/jwt" method="post" id="loginForm" class="login_form">
        <div class="input_container">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="username"
          />
        </div>
        <div class="input_container">
          <label for="password"> Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="*******"
          />
        </div>
        <input type="submit" value="LOGIN" class="login_button" />
      </form>
      <button
        onclick="location.href='/api/authentication/githubSignup'"
        class="github_button"
      >
        GITHUB</button>

      <div class="options_container">
      <a href="http://localhost:8080/api/views/signup">Get Register</a>
        <a href="">Forgot your password?</a>
      </div>
    </div>

  </body>
</html>