<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login_container">
      <form
        action="/api/jwt"
        method="post"
        id="loginForm"
        class="login_form"
        onsubmit="prepareForm(event)"
      >
        <div class="input_container">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="username"
            oninput="updateRestoreForm()"
          />
        </div>
        <div class="input_container">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="*******"
          />
        </div>
        <input type="submit" value="LOGIN" class="login_button" />
      </form>
      <button
        onclick="location.href='/api/authentication/githubSignup'"
        class="github_button"
      >
        GITHUB
      </button>
      <div class="options_container">
        <a href="http://localhost:8080/api/views/signup">GetRegister</a>
        <form
          action="/api/mailer/restore"
          method="get"
          id="restoreForm"
          class="restore_form"
        >
          <input
            type="hidden"
            name="usernameRestore"
            id="usernameRestore"
          />
          <input
            type="submit"
            value="Forgot your password?"
            class="restore_button"
          />
        </form>
      </div>
    </div>

    <script>
      function updateRestoreForm() {
        // Get the username value
        var username = document.getElementById("username").value;

        // Set the username value in the hidden input field of the restoreForm
        document.getElementById("usernameRestore").value = username;

        console.log(username);

      }
    </script>
  </body>
</html>