<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>password restore</title>
  </head>
  <body>
    <h1>Forgot your password?</h1>
    <h3>Write your new password below</h3>
    <div class="login_container">
      {{! action=`/api/authentication/passwordRestore/${usernamedinamico}` }}
      {{! method="post"  }}
      <form id="restoreForm" class="login_form">
        <div class="input_container">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            placeholder="****"
          />

          <button
            type="submit"
            name="restorePassword"
            id="restorePassword"
            placeholder="Restore Password"
          >Restore Password</button>

        </div>
      </form>
    </div>

  </body>
</html>

<script>
  const restoreForm = document.getElementById('restoreForm')
    restoreForm.addEventListener('submit', (event) => { event.preventDefault();
  const newPassword = document.getElementById("newPassword").value;
  console.log(newPassword)

  const searchParams = new URLSearchParams(window.location.search);
  const username = searchParams.get('username');
  console.log(username)

  fetch(`/api/authentication/passwordRestore/${username}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      newPassword
    })
  })


   })




</script>