<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Your profile (without sensible data)</h1>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.age}}</p>

      <a href="/api/session/logout"> <button>Log Out</button></a>

    </div>
  </body>
</html>