<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Register</h1>
        <form action="" id="registerForm">
            <label for="">First Name</label>
            <input type="text" name="first_name">
                <label for="">Last Name</label>
            <input type="text" name="last_name">
                <label for="">Email</label>
            <input type="text" name="email">
                <label for="">Age</label>
            <input type="text" name="age">
                <label for="">Password</label>
            <input type="password" name="password">

            <input type="submit">
        </form>
    </div>

    <script src="/src/public/js/loginRegister.js"></script>
    
</body>
</html>