body{
    height: 100vh;
    background-color: rgb(221, 229, 244) ;
    color: rgb(155, 157, 159);
  position: relative;
}

.login_container{
    width: 25%;
    height: 80%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 247, 254);
    border-radius: 15px;
}

.login_form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
}

.input_container{
    display: flex;
    flex-direction: column;
    height: 60px;
    border-radius: 25px;
    background: rgb(254, 255, 255);
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-left: 10px;
}

.input_container input{
    all: unset;
}

.login_button {
    all: unset;
    background-color: rgb(62, 70, 131);
    height: 35px;
    border-radius: 25px;
    text-align: center;
   
}

.github_button {
    width: 15%;
}

.login_container a {
 
}